header {
	position: absolute;
	padding: 32px;
	width: 100%;
	font-size: 12px;
	color: rgba(255, 255, 255, .5);
	display: flex;
	justify-content: space-between;
	z-index: 999;

	span {
		display: inline-block;
		vertical-align: middle;
	}
}

.logo {
	display: inline-block;
	width: 46px;
	height: 46px;
	background: url("/assets/static/images/icon.png") no-repeat;
	margin: -10px 0 0 0;

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background: url("/assets/static/images/icon@2x.png") no-repeat;
		background-size: 100% 100%;
	}
}

.fb-like.fb_iframe_widget span {
	vertical-align: initial !important;
}

@media(max-width: 760px) {
	header {
		span {
			display: none;
		}

		.logo {
			display: block;
			margin: 0 auto;
		}
	}
}
