.app {
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	width: 356px;
	height: 440px;
	margin: 0 auto;
	box-shadow: 0 30px 60px 0 rgba(0, 0, 0, .5);
}

video {
	margin: -2px 0 0 -2px;
	width: 359px;
	height: 440px;
}
