{% extends "base.html" %}
{% block content %}

<header>
	<span>Made with love by <a href="https://twitter.com/gielcobben" target="_blank">@gielcobben</a>.</span>
	<span class="logo"></span>
	<span>
		<a href="https://twitter.com/share" class="twitter-share-button" data-text="Caption — Find the right subtitles. Easy. https://getcaption.co/ by @gielcobben" data-url="false" data-show-count="false">Tweet</a>
		<div class="fb-like" data-href="https://getcaption.co/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
		<a class="github-button" href="https://github.com/gielcobben/Caption" data-icon="octicon-star" data-count-href="/gielcobben/Caption/stargazers" data-count-api="/repos/gielcobben/Caption#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star gielcobben/Caption on GitHub">Star</a>
		<!--<iframe src="https://yvoschaap.com/producthunt/counter.html#href=https%3A%2F%2Fwww.producthunt.com%2Fr%2F194cda71516d76%2F90418&layout=wide" width="100" height="21" scrolling="no" frameborder="0" allowtransparency="true"></iframe>-->
	</span>
</header>

<main id="wrapper">
	<div class="content">
		<section class="half info middle"> 
			<h1>Caption</h1>
			<p>Find the right subtitles. Easy.</p>
			<ul>
				<li class="icon icon-autodownload"></li>
				<li class="icon icon-autorename"></li>
				<li class="icon icon-dragdrop"></li>
				<li class="icon icon-textsearch"></li>
				<li class="icon icon-languages"></li>
			</ul>
			<div class="ticker">
				<ul class="features">
					<li>Auto download</li>
					<li>Auto rename</li>
					<li>Drag &amp; Drop</li>
					<li>Text search</li>
					<li>Multiple languages</li>
				</ul>
			</div>
			<div class="download">
				<a href="https://download.getcaption.co/download/osx" target="_blank" class="button" onClick="ga('send', 'event', { eventCategory: 'download', eventAction: 'click', eventLabel: 'caption', eventValue: 1});"> Download Caption</a>
			</div>
		</section>
		<section class="half video">
			<div class="app">
				<video src="/assets/static/video/caption.mp4" autoplay loop></video>
			</div>
		</section>
	</div>
</main>

<footer>
	<a href="https://github.com/gielcobben/Caption" target="_blank">View and contribute on GitHub</a>
	<a href="https://github.com/gielcobben/Caption/releases" class="changelog" target="_blank">View changelog</a>
</footer>

{% endblock %}
